.painting {
    height: 60vw;
    border: 6px solid #444;
    display: flex;
    /* justify-content:stretch; */
}

.has-border {
    border: 2px solid #444;
}

.has-bottom-border {
    border-bottom: 2px solid #444;
}
.has-right-border {
    border-right: 2px solid #444;
}

.level1a {
    width: 50%;
    display: flex;
}

.level1b {
    width: 50%;
    display: flex
}

.level2a {
    width: 70%;
}

.level2b {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.level3a {
    background-color: yellow;
    height: 10%;
}

.level3b {
    background-color: yellow;
    height: 10%;
}

.level3c {
    display:flex;
    height: 20%;
}
.level4a,
.level4b {
    width:50%;
}

.level3d {
    height: 10%
}

.level3e {
    height: 20%;
    background-color: blue;
}

.level3f {
    height: 20%;
    background-color: red;
}